<div class="container text-center">
<h1 class="title">Hello</h1>
<ul class="list-group">
  <% @articles.each do |article|%>
  <li class="list-group-item" >
    <%= link_to article.title, article_path(article), class:"btn btn-outline-warning" %>
    <%= link_to "Edit", edit_article_path(article), class:"btn btn-success" %>
    <%= link_to "Delete",
    article_path(article),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
    class:"btn btn-dark alert-dark"
    %>
  </li>
  <% end %>
</ul>
<%= link_to "create article", new_article_path, class:"btn btn-primary" %>

</div>
